# Pandas (III) - Ejercicios

In [1]:
import numpy as np
import pandas as pd

### 1. Carga el fichero "datos/catastro.tsv" en un DataFrame y haz que el año sea el índice de filas de la información.

In [2]:
catastro_df = pd.read_csv('datasets/catastro.tsv', sep='\t')

In [3]:
catastro_df.to_csv('datasets/catastro.tsv', sep='\t')
catastro_df

,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral,nueva_columna
0,0,0,0,0,0,0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08,2.777774e+13
1,1,1,1,1,1,1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08,9.112102e+13
2,2,2,2,2,2,2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07,4.774403e+12
3,3,3,3,3,3,3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08,2.232134e+13
4,4,4,4,4,4,4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07,1.561956e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,3025,3025,3025,3025,3025,3025,2013,21,Barajas,215,CORRALEJOS,O,Oficinas,172,1994.0,538345.0,NaN,6.893051e+08,3.710840e+14
3026,3026,3026,3026,3026,3026,3026,2013,21,Barajas,215,CORRALEJOS,R,Religioso,2,2006.0,3264.0,NaN,3.059075e+06,9.984819e+09
3027,3027,3027,3027,3027,3027,3027,2013,21,Barajas,215,CORRALEJOS,T,Espectáculos,1,1995.0,14720.0,NaN,1.639676e+07,2.413602e+11
3028,3028,3028,3028,3028,3028,3028,2013,21,Barajas,215,CORRALEJOS,V,Residencial,2939,1999.0,433231.0,NaN,5.177294e+08,2.242964e+14
3029,3029,3029,3029,3029,3029,3029,2013,21,Barajas,215,CORRALEJOS,Y,Sanidad y Beneficencia,2,2000.0,7395.0,NaN,1.040851e+07,7.697090e+10

In [4]:
catastro_df2 = catastro_df.set_index('año')
catastro_df2

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral,nueva_columna
año,,,,,,,,,,,,,,,,,
2014,0,0,0,0,0,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08,2.777774e+13
2014,1,1,1,1,1,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08,9.112102e+13
2014,2,2,2,2,2,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07,4.774403e+12
2014,3,3,3,3,3,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08,2.232134e+13
2014,4,4,4,4,4,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07,1.561956e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,3025,3025,3025,3025,3025,21,Barajas,215,CORRALEJOS,O,Oficinas,172,1994.0,538345.0,NaN,6.893051e+08,3.710840e+14
2013,3026,3026,3026,3026,3026,21,Barajas,215,CORRALEJOS,R,Religioso,2,2006.0,3264.0,NaN,3.059075e+06,9.984819e+09
2013,3027,3027,3027,3027,3027,21,Barajas,215,CORRALEJOS,T,Espectáculos,1,1995.0,14720.0,NaN,1.639676e+07,2.413602e+11
2013,3028,3028,3028,3028,3028,21,Barajas,215,CORRALEJOS,V,Residencial,2939,1999.0,433231.0,NaN,5.177294e+08,2.242964e+14
2013,3029,3029,3029,3029,3029,21,Barajas,215,CORRALEJOS,Y,Sanidad y Beneficencia,2,2000.0,7395.0,NaN,1.040851e+07,7.697090e+10

In [9]:
catastro_df.drop(['Unnamed:0.5','Unnamed:0.4','Unnamed:0.3','Unnamed:0.2','Unnamed:0.1','Unnamed:0'],axis=1,inplace=True)
catastro_df

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral,nueva_columna
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08,2.777774e+13
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08,9.112102e+13
2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07,4.774403e+12
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08,2.232134e+13
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07,1.561956e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,2013,21,Barajas,215,CORRALEJOS,O,Oficinas,172,1994.0,538345.0,NaN,6.893051e+08,3.710840e+14
3026,2013,21,Barajas,215,CORRALEJOS,R,Religioso,2,2006.0,3264.0,NaN,3.059075e+06,9.984819e+09
3027,2013,21,Barajas,215,CORRALEJOS,T,Espectáculos,1,1995.0,14720.0,NaN,1.639676e+07,2.413602e+11
3028,2013,21,Barajas,215,CORRALEJOS,V,Residencial,2939,1999.0,433231.0,NaN,5.177294e+08,2.242964e+14
3029,2013,21,Barajas,215,CORRALEJOS,Y,Sanidad y Beneficencia,2,2000.0,7395.0,NaN,1.040851e+07,7.697090e+10

### 2. Obtén el número de registros del barrio "PALACIO" para el año 2014.

In [10]:
catastro_df[(catastro_df.barrio == "PALACIO") & (catastro_df.año == 2014)][['barrio','año']].shape[0]

13

### 3. Selecciona las columnas sup_cons y valor_catastral para los 15 primeros registros con año 2013 y de uso Residencial.

In [ ]:
catastro_df[(catastro_df.año == 2013) & (catastro_df.uso == 'Residencial')][['sup_cons','valor_catastral']].head(15)

### 4. Añade una columna al resultado del DataFrame anterior que contenga el valor medio por metro cuadrado.

In [ ]:
catastro_df.head(3)

In [ ]:
catastro_df['nueva_columna'] = (catastro_df['valor_catastral'] / catastro_df['sup_cons'])
catastro_df.mean().round(2)

### 5. Utilizando una pivot table obtén el total de valor catastral por uso y año.

In [ ]:
catastro_df['total'] = catastro_df['valor_catastral']*catastro_df['sup_cons'][['uso','año']]
catastro_df

### 6. Crea una función que a partir de un registro del fichero del catastro, calcule el valor catastral medio por inmueble y aplica esta función a los 10 últimos registros de la tabla del catastro.La funcion tienes que recibir una ruta(donde esta el dataset) y pedir al usuario un input de en que columna quiere que apliquemos la funcion

In [ ]:
#tenemos que cargar el fichero y hacerlo df
#tenemos que pedirle a usuario que nos diga sobre que columna tenemos que aplicar la funcion
#estaria guay, darle opciones para elegir(columnas que hay en el dataset)
#podemos perfeccionar la lista y que solo le aparezca como disponibles en la lista las columnas numericas
#una vez definido el target hacemos el apply de la funcion

In [ ]:
def mean_valor_catastral(ruta):
    fichero = pd.read_csv(ruta)
    ruta.to_csv(fichero)
    columna = input('Ingrese la columna donde quiere aplicar la funcion: ')
    return fichero,columna
mean_valor_catastral('datasets/titanic.csv')

In [ ]:
#solucion lucas
def mean_valor_cata(ruta):
    med_valor_cata=pd.read_csv(ruta,sep = '\t')
    columna = input('escribe la columna que vaya aplicar la funcion ')
    return med_valor_cata[columna].tail(10).mean()

In [ ]:
#solucion victor
def mean_valor_cata(ruta):
    med_valor_cata=pd.read_csv(ruta,sep = '\t')
    columna = input('escribe la columna que vaya aplicar la funcion ')
    return med_valor_cata[columna].tail(10).mean()

### 7. Utilizando groupby, obtén el total de número de inmuebles y valor catastral por año y uso.

In [ ]:
catastro_df.head(5)

### 8. Utilizando el resultado del ejercicio anterior y haciendo un cruce (merge) de información por año, encuentra aquellos usos en los que el número de inmuebles ha disminiuido.

### 9. Utilizando funciones de agrupación y agregación, calcula el porcentaje de representatividad respecto al número de inmuebles de cada uso, por año.